<div class="top-bar">
    <div class="container">
        <div class="top-content">
            <div class="mail">
                <i class="fas fa-envelope"></i>
                <a href="mailto:{{ section.settings.email | escape }}">{{ section.settings.email | escape }}</a>
            </div>
            <p>{{ section.settings.content }}</p>
        </div>
    </div>
</div>

{% schema %}
    {
      "name": "Announcement Bar",
      "tag": "section",
      "class": "announcement-bar-section",
      "settings": [
        {
          "type": "text",
          "id": "email",
          "default": "lonestarwholesalesupply@gmail.com",
          "label": "Email"
        },
        {
          "type": "richtext",
          "id": "content",
          "default": "<p>Place ALL orders for pickup. We will contact you to get it delivered! Click Here for more info. Orders placed over the weekend will be fulfilled Monday.</p>",
          "label": "Content"
        }
    ],
    "presets": [
        {
          "name": "Announcement Bar"
        }
      ]
    }

{% endschema %}
