<section class="feature-cat">
    <div class="container">
        <div class="title text-dark text-center pb-5">
            <h3>{{ section.settings.title | escape }} </h3>
        </div>
        <div class="feature-slider">

            {%- for block in section.blocks -%}
            <div class="feature-item">
                <div class="feature-inner-item">
                    <img src="{{ block.settings.image | img_url: 'master' }}" alt="">
                </div>
                <div class="feature-content">
                    <h4><a href="{{ block.settings.link }}"> {{ block.settings.title }} </a></h4>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>


{% schema %}
    {
      "name": "Cus Category",
      "tag": "section",
      "class": "announcement-bar-section",
      "settings": [
        {
        "type": "text",
        "id": "title",
        "default": "FEATURED CATEGORIES",
        "label": "Title"
        }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "t:sections.multicolumn.blocks.column.name",
    
        "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "url",
            "id": "link",
            "label": "Category Link"
        }
        ]
      }
    ],

    "presets": [
        {
          "name": "Cus Category"
        }
      ]
    }

{% endschema %}