<section class="deal">
    <div class="container">
        <div class="title text-dark">
            <h3><?php echo $deal_of_the_day_section['title']; ?></h3>
        </div>
        <div class="row">


            <div class="col-12 col-lg-3 col-md-6">
                <div class="deal-item">
                    <img src="<?php echo get_the_post_thumbnail_url() ?>" alt="">
                    <div class="deal-content">
                        <h3><?php echo get_the_title() ?></h3>
                        <div class="rating">
                            <ul>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><span>(4.0)</span></li>
                            </ul>
                        </div>
                        <div class="price-tag">
                            <div class="price">
                            <h4><?php $product = wc_get_product( get_the_ID());  echo '$'.$product->get_sale_price();  ?></h4>
                            <h6><?php $product = wc_get_product( get_the_ID());  echo '$'.$product->get_regular_price();  ?></h6>
                            </div>
                            <div class="deal-btn">
                                <a class="btn-2" href="<?php echo get_the_permalink(); ?>">Add</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            
        </div>
    </div>
</section>

{% schema %}
    {
      "name": "Cus Product Deal",
      "tag": "section",
      "class": "announcement-bar-section",
      "settings": [ 
        {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.featured-collection.settings.collection.label"
        },
        {
            "type": "collection",
            "id": "collection_side",
            "label": "Product Side"
        }
    ],

    "presets": [
        {
          "name": "Cus Product Deal"
        }
      ]
    }

{% endschema %}