<section class="breadcumb" style="background-image: url({% if section.settings.image !=blank %}{{ section.settings.image | img_url: 'master' }} {% else %}{{ 'pro-dea-bg.png' | asset_url }}{% endif %});">
    <div class="container">
        <div class="breadcumb-con">
            <h2>
              {% if section.settings.title !=blank %}
                {{ section.settings.title }}  
              {% else %}
                {{ page.title | escape }}
              {% endif %}
          </h2>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.multicolumn.blocks.column.settings.image.label"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ]
}
{% endschema %}
